<app-nav-bar/>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"
    >
    <div class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">El formato del correo no es válido.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
    >
    <div class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres.
      </small>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
</form>
<button class="btn btn-info" (click)="onClick()">Log in with Google</button>
